# Sample buildconfig.yml
# project_name: Required. The name of your Xcode project (without .xcodeproj). Used for all build commands.
project_name: CarManager
# exclude_from_globals: List of top-level keys that should NOT be propagated as global variables.
exclude_from_globals:
  - tasks
  - platforms
  - build_groups
  - logging
  - exclude_from_globals
  - name
  - args
  - command
  - type
  - dependencies
  - children
platforms:
  - name: macOS
    build_command: xcodebuild build -workspace .swiftpm/xcode/package.xcworkspace -scheme SixLayerFramework -destination "platform=macOS,arch=arm64"
    artifact_dir: build/macos
    artifact_patterns:
      - build/macos/*.app
    # scheme: Required. The Xcode scheme to build for this platform.
  - name: macOS_unit_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-macOS-UnitTests -destination "platform=macOS,arch=arm64" -parallel-testing-enabled YES
    artifact_dir: build/macos
    artifact_patterns:
      - build/macos/*.app
  - name: macOS_ui_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-macOS-UITests -destination "platform=macOS,arch=arm64" -parallel-testing-enabled YES
    artifact_dir: build/macos
    artifact_patterns:
      - build/macos/*.app
  - name: macOS_viewinspector_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-macOS-ViewInspectorTests -destination "platform=macOS,arch=arm64" -parallel-testing-enabled YES
    artifact_dir: build/macos
    artifact_patterns:
      - build/macos/*.app
  - name: macOS_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-macOS-AllTests -destination "platform=macOS,arch=arm64" -parallel-testing-enabled YES
    artifact_dir: build/macos
    artifact_patterns:
      - build/macos/*.app
  - name: macOS_framework_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-macOS-Framework -destination "platform=macOS,arch=arm64" -parallel-testing-enabled YES
    artifact_dir: build/macos
    artifact_patterns:
      - build/macos/*.app
    # scheme: Required. The Xcode scheme to build for this platform.
  - name: iOS_build
    build_command: xcodebuild build -workspace .swiftpm/xcode/package.xcworkspace -scheme SixLayerFramework   -destination "platform=iOS Simulator,name=iPhone 17 Pro Max"
    artifact_dir: build/ios
    artifact_patterns:
      - build/ios/*.ipa
    # scheme: Required. The Xcode scheme to build for this platform.
  - name: iOS_unit_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-iOS-UnitTests -destination "platform=iOS Simulator,name=iPhone 17 Pro Max" -parallel-testing-enabled YES
    artifact_dir: build/ios
    artifact_patterns:
      - build/ios/*.ipa
  - name: iOS_viewinspector_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-iOS-ViewInspectorTests -destination "platform=iOS Simulator,name=iPhone 17 Pro Max" -parallel-testing-enabled YES
    artifact_dir: build/ios
    artifact_patterns:
      - build/ios/*.ipa
  - name: iOS_ui_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-iOS-UITests -destination "platform=iOS Simulator,name=iPhone 17 Pro Max" -parallel-testing-enabled YES
    artifact_dir: build/ios
    artifact_patterns:
      - build/ios/*.ipa
  - name: iOS_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-iOS-AllTests -destination "platform=iOS Simulator,name=iPhone 17 Pro Max" -parallel-testing-enabled YES -maximum-concurrent-test-simulator-destinations 2
    artifact_dir: build/ios
    artifact_patterns:
      - build/ios/*.ipa
  - name: iOS_framework_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-iOS-Framework -destination "platform=iOS Simulator,name=iPhone 17 Pro Max" -parallel-testing-enabled YES
    artifact_dir: build/ios
    artifact_patterns:
      - build/ios/*.ipa
    # scheme: Required. The Xcode scheme to build for this platform.
  - name: tvOS_build
    build_command: xcodebuild build -workspace .swiftpm/xcode/package.xcworkspace -scheme SixLayerFramework -destination "platform=tvOS Simulator,name=Apple TV"
    artifact_dir: build/tvos
    artifact_patterns:
      - build/tvos/*.app
  - name: tvOS_unit_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-tvOS-UnitTests -destination "platform=tvOS Simulator,name=Apple TV" -parallel-testing-enabled YES
    artifact_dir: build/tvos
    artifact_patterns:
      - build/tvos/*.app
  - name: tvOS_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-tvOS-AllTests -destination "platform=tvOS Simulator,name=Apple TV" -parallel-testing-enabled YES
    artifact_dir: build/tvos
    artifact_patterns:
      - build/tvos/*.app
  - name: tvOS_framework_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-tvOS-Framework -destination "platform=tvOS Simulator,name=Apple TV" -parallel-testing-enabled YES
    artifact_dir: build/tvos
    artifact_patterns:
      - build/tvos/*.app
  - name: watchOS_build
    build_command: xcodebuild build -workspace .swiftpm/xcode/package.xcworkspace -scheme SixLayerFramework -destination "platform=watchOS Simulator,name=Apple Watch Series 9 (45mm)"
    artifact_dir: build/watchos
    artifact_patterns:
      - build/watchos/*.app
  - name: watchOS_unit_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-watchOS-UnitTests -destination "platform=watchOS Simulator,name=Apple Watch Series 9 (45mm)" -parallel-testing-enabled YES
    artifact_dir: build/watchos
    artifact_patterns:
      - build/watchos/*.app
  - name: watchOS_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-watchOS-AllTests -destination "platform=watchOS Simulator,name=Apple Watch Series 9 (45mm)" -parallel-testing-enabled YES
    artifact_dir: build/watchos
    artifact_patterns:
      - build/watchos/*.app
  - name: watchOS_framework_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-watchOS-Framework -destination "platform=watchOS Simulator,name=Apple Watch Series 9 (45mm)" -parallel-testing-enabled YES
    artifact_dir: build/watchos
    artifact_patterns:
      - build/watchos/*.app
  - name: visionOS_build
    build_command: xcodebuild build -workspace .swiftpm/xcode/package.xcworkspace -scheme SixLayerFramework -destination "platform=visionOS Simulator,name=Apple Vision Pro"
    artifact_dir: build/visionos
    artifact_patterns:
      - build/visionos/*.app
  - name: visionOS_unit_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-visionOS-UnitTests -destination "platform=visionOS Simulator,name=Apple Vision Pro" -parallel-testing-enabled YES
    artifact_dir: build/visionos
    artifact_patterns:
      - build/visionos/*.app
  - name: visionOS_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-visionOS-AllTests -destination "platform=visionOS Simulator,name=Apple Vision Pro" -parallel-testing-enabled YES
    artifact_dir: build/visionos
    artifact_patterns:
      - build/visionos/*.app
  - name: visionOS_framework_tests
    build_command: xcodebuild test -project SixLayerFramework.xcodeproj -scheme SLF-visionOS-Framework -destination "platform=visionOS Simulator,name=Apple Vision Pro" -parallel-testing-enabled YES
    artifact_dir: build/visionos
    artifact_patterns:
      - build/visionos/*.app
tasks:
  - name: generate-file-list
    # Example: passing a secret as an environment variable (uncomment to use)
    # command: "MY_SECRET=foo ./myscript.sh $arg1"
    # command: "MY_SECRET=$arg1 ./myscript.sh $arg2"
    # command: "MY_SECRET=$(secret_key_program.sh) ./myscript.sh $arg2"
    command: ./Scripts/generate_file_list.py
    log_file: build/logs/generate-file-list.log
    always_run: false
    requires: []
  - name: xcodegen
    description: "Generates the Xcode project from project.yml and all project files. (uses cache)"
    command: "xcodegen -c"
    dependencies:
      - generate-file-list
    inputs:
      - project.yml
      - all_project_files.txt
  - name: commit-changes
    description: "Commit all changes with version message (optional platform argument)"
    command: "./Scripts/commit_and_tag.sh commit $arg1"
    args_optional: true
build_groups:
  all:
    continue_on_error: true
    parallel: false
    targets:
      - build
      - test
  build:
    continue_on_error: true
    parallel: true
    targets:
      - macOS
      - iOS_build
      - tvOS_build
      - watchOS_build
      - visionOS_build
  test:
    continue_on_error: true
    parallel: true
    targets:
      - macOS_tests
      - iOS_tests
      - tvOS_tests
      - watchOS_tests
      - visionOS_tests
  mac_core:
    targets:
      - xcodegen
      - macOS_unit_tests
      - macOS_viewinspector_tests
  mac:
    targets:
      - macOS
      - mac_core
  macOS_test:
    targets:
      - xcodegen
      - macOS_tests
  ios_core:
    targets:
      - xcodegen
      - iOS_unit_tests
      - iOS_viewinspector_tests
  iOS:
    targets:
      - iOS_build
      - ios_core
  iOS_test:
    targets:
      - xcodegen
      - iOS_tests
  mt:
    targets:
      - xcodegen
      - macOS_unit_tests
      - macOS_viewinspector_tests
  it:
    targets:
      - xcodegen
      - iOS_unit_tests
      - iOS_viewinspector_tests
  tvos:
    targets:
      - xcodegen
      - tvOS_build
      - tvOS_tests
  tvos_test:
    targets:
      - xcodegen
      - tvOS_tests
  watchos:
    targets:
      - xcodegen
      - watchOS_build
      - watchOS_tests
  watchos_test:
    targets:
      - xcodegen
      - watchOS_tests
  visionos:
    targets:
      - xcodegen
      - visionOS_build
      - visionOS_tests
  visionos_test:
    targets:
      - xcodegen
      - visionOS_tests